---

- hosts: "localhost"
  connection: "local"

  vars:

    projects:

      - name: "JISC DataVault project"
        repo: "https://github.com/JiscRDSS/datavault"
        # version: "master"
        version: "rdss"
        dest: "./src/datavault"
        images:
          - name: "{{ registry }}/broker"
            path: "./src/datavault"
            dockerfile: "broker.Dockerfile"
          - name: "{{ registry }}/web"
            path: "./src/datavault"
            dockerfile: "webapp.Dockerfile"
          - name: "{{ registry }}/worker"
            path: "./src/datavault"
            dockerfile: "worker.Dockerfile"

  tasks:

    - name: "Echo environment"
      debug:
        msg: "Environment is '{{ env }}'"

    - name: "Install playbook dependencies"
      pip:
        name: "{{ item }}"
        extra_args: "--user"
      with_items:
        - "setuptools"
        - "docker"
        - "mvn"

    - name: "Clone repositories"
      git:
        accept_hostkey: "yes"
        repo: "{{ item.repo }}"
        dest: "{{ item.dest }}"
        version: "{{ item.version }}"
      register: "git_clone"
      with_items: "{{ projects }}"
      tags:
        - "clone"

    - name: "Build and tag images"
      command: "docker build
        -t {{ item.1.name }}:{{ item.0.item.version | regex_replace('/', '_')  | truncate(128, True)}}
        -t {{ item.1.name }}:latest
        -f {{ item.1.dockerfile }} ."
      args:
        chdir: "{{ item.1.path }}"
      when: item.0.changed
      with_subelements:
        - "{{ git_clone.results }}"
        - item.images
      tags:
        - "build"
        # Ignore false ANSIBLE0016 claiming this task should be a handler
        - skip_ansible_lint

    - name: "Publish images"
      command: docker push "{{ item.1.name }}"
      when: item.0.changed
      with_subelements:
        - "{{ git_clone.results }}"
        - item.images
      tags:
        - "publish"
        # Ignore false ANSIBLE0016 claiming this task should be a handler
        - skip_ansible_lint
